<h1><%= @post.title %></h1>

<br>
<p><%= @post.content %></p>
<br>

<%= form_for(@post) do |f| %>
    New Comment:
    <%= f.fields_for :comments do |comment_form| %>
        <%= comment_form.text_field :content %>
    <br>

        <%= comment_form.label "User" %>
        <%= comment_form.collection_select :user_id, User.all, :id, :username %>
    <br>
        <%= comment_form.label "New User" %>
        <%= comment_form.fields_for :users do |user_fields| %>
            <%= user_fields.text_field :username %>
        <% end %>
    <% end %>
    <br>
  <%= f.submit 'Create Comment' %>
<% end %>

<br>
<h3>Category: <% @post.categories.each do |category| %></h3>
    <ul>
        <li><%= category.name %></li>
    </ul>
<% end %>
<br>

<h3>Previous Comments: <% @post.comments.each do |comment| %></h3>
    <ul>
        <li><%= comment.content %> -- <%= comment.user.username %></li>
    </ul>
<% end %>
<br>

<h3>Users: <% @post.users.uniq.each do |user| %></h3>
    <ul>
        <li><%= link_to user.username, user_path(user) %></li>
    </ul>
<% end %>
