<h1><%= @post.title %></h1>

<br>
<p><%= @post.content %></p>
<br>

<%= form_for(@post) do |f| %>
  <label>New Comment: </label>
  <%= f.text_field :content %>

  <%= f.submit 'Create Comment' %>
<% end %>



<br>
<h3>Category: <% @post.categories.each do |category| %></h3>
    <ul>
        <li><%= category.name %></li>
    </ul>
<% end %>
<br>

<h3>Previous Comments: <% @post.comments.each do |comment| %></h3>
    <ul>
        <li><%= comment.content %> -- <%= comment.user.username %></li>
    </ul>
<% end %>
<br>

<h3>Users: <% @post.users.uniq.each do |user| %></h3>
    <ul>
        <li><%= link_to user.username, user_path(user) %></li>
    </ul>
<% end %>
