<h1><%= @post.title %></h1>

<br>
<p><%= @post.content %></p>
<br>


Leave a comment:
<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  Content: <%= f.text_field :content %>
  User: <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Any' %>
  <%= f.fields_for :user, @comment.user do |user_fields| %>
    <%= user_fields.text_field :username %>
    <%= user_fields.text_field :email %>
  <% end %>
  <%= f.submit %>
<% end %>

<br>
<h3>Category: <% @post.categories.each do |category| %></h3>
    <ul>
        <li><%= category.name %></li>
    </ul>
<% end %>
<br>

Comments:
<% unique_commenters = [] %>
<% @post.comments.all.each do |c| %>
    <%= c.user.username %> says: <%= c.content %>
    <% if unique_commenters.include? c.user %>
    <% else %>
      <% unique_commenters << c.user %>
      <%= link_to c.user.username, user_path(c.user) %>
    <% end %>
  <br>
<% end %>
<br>
