<h1><%= @post.title %></h1>

<br>
<p><%= @post.content %></p>
<br>


Leave a comment:
<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  Content: <%= f.text_field :content %>
  User: <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Any' %>
  <%= f.fields_for :user, @comment.user do |user_fields| %>
    <%= user_fields.text_field :username %>
    <%= user_fields.text_field :email %>
  <% end %>
  <%= f.submit %>
<% end %>

<br>
<h3>Category: <% @post.categories.each do |category| %></h3>
    <ul>
        <li><%= category.name %></li>
    </ul>
<% end %>
<br>

<h3>Previous Comments: <% @post.comments.each do |comment| %></h3>
    <ul>
        <li><%= comment.content %> -- <% if !comment.user.nil? %><% comment.user.username %><% end %></li>
    </ul>
<% end %>
<br>

<h3>Users: <% @post.users.uniq.each do |user| %></h3>
    <ul>
        <li><%= link_to user.username, user_path(user) %></li>
    </ul>
<% end %>
